@font-face {
    font-family: 'title-font';
    src: url("./webfonts/title-font.woff2");
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

@font-face {
    font-family: 'text-font';
    src: url("./webfonts/text-font.woff2");
}

ul {
    list-style: none;
    padding: 0 0!important;
    margin: 0 0!important;
}

body {
    padding: 0px 100px;
    background-color: #EDEDEE!important;
}

header {
    height: 792px;
    background-image: url("/images/background2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: title-font;
    letter-spacing: 5px;
}

.title h2 {
    font-weight: bold;
    letter-spacing: 20px;
}

.subtitle {
    padding-top: 150px;
    font-size: 30px;
}

.subtitle span {
    padding-bottom: 3px;
    border-bottom: 2px solid white;
    /*font-weight: lighter;*/
}

.subtitle2 h4 {
    padding-top: 20px;
    font-size: 20px;
}

.title h2 {
    font-size: 100px;
}

.order {
    margin-top: 50px;
    padding: 70px 100px;
  padding-bottom: 40px;
    background-color: white;
  /*height: 850px;*/
    color: #A05841;
}

.order img {
    /*margin-left: 70px;*/
    margin-bottom: 50px;
    width: 80%;
    margin-top: 50px;
}

.order .miracleVideo {
  width: 80%;
}

@media (max-width: 1400px) {
  /*.order img {*/
  /*  !*margin-left: 70px;*!*/
  /*  margin-bottom: 50px;*/
  /*  width: 80%;*/
  /*  margin-top: 50px;*/
  /*  margin-left: 50px;*/
  /*}*/

  .order .text-block {
    margin-top: 0px!important;
    margin-left: 30px;
  }
}

@media (max-width: 992px) {
  body {
    padding: 20px 20px;
  }

  .order img {
    display: none;
  }

  .order {
    padding: 70px 20px;
  }

  .order .text-block {
    padding: 50px 50px;
    padding-bottom: 0px;
    margin-left: 0px;
  }

  .order .miracleVideo {
    /*margin-left: 70px;*/
    margin-bottom: 50px;
    width: 80%;
    margin-top: 50px;
    /*margin-left: 50px;*/
  }


}

@media (max-width: 750px) {
  .order img {
    display: none;
  }

  .order {
    padding: 50px 50px;
  }

  .order iframe {
    margin: 0px 0px!important;
  }

  .order .text-block {
    padding: 30px 40px;
    padding-bottom: 0px;
    margin-left: 0px;
  }

  .order .miracleVideo {
    /*margin-left: 70px;*/
    margin-bottom: 50px;
    width: 100%;
    margin-top: 50px;
    /*margin-left: 50px;*/
  }

  .intro {
    padding-bottom: 50px;
  }
}

.order .text-block {
    margin: 50px 0px;
  /*margin-left: 30px;*/
    padding-top: 50px;
    font-family: text-font;
}

.order .text-block p {
    margin-top: 50px;
}

.order .text-block button {
    border-color: #A05841;
    color: #A05841;
}

.order .text-block button:hover {
    background-color: #A05841;
    color: #ffffff;
}

.carousel {
    z-index: 2;
}

.carousel-item {
    margin-right: 0!important;
}

.title-2 {
    font-size: 20px;
    font-weight: lighter!important;
    letter-spacing: 5px;
}

.intro {
    background-color: #fff;
    margin-top: 50px;
}

.intro .text-block {
    padding: 100px 50px;
    padding-bottom: 0px;
    color: #A05841;
    font-family: text-font;
}

section h4 {
  color: #A05841;
}

header {
  color: white;
}

.intro .text-block p {
    padding: 25px 50px;
}

.intro .text-block .title-2 {
    font-size: 18px;
    letter-spacing: 10px;
    margin-bottom: 25px;
}

.intro .slash {
    width: 20px;
    height: 3px;
    margin-top: 80px;
    background-color: #A05841;
    margin: 0 auto;
}

footer {
    margin-top: 30px;
    font-family: text-font;
}

footer .info {
    background-color: seagreen;
    color: white;
    padding: 15px 0px;
}


footer .info .title {
    margin-top: 20px;
    margin-bottom: 14px;
    font-size: 18px;
    letter-spacing: 5px;
}

footer .info .list {
    font-size: 15px;
}

footer .info .socialMedia img {
  margin: 0px 10px;
  margin-top: 20px;
}

.copyright .col {
    margin: 20px 0px;
    color: #A05841;
    height: 20px;
}
